

@import url('https://fonts.googleapis.com/css2?family=Alexandria&family=Alfa+Slab+One&display=swap');

.cabecalhoPrincipal .container{

    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.cabecalhoPrincipal-nav{
    display: flex;
   
}

.opcoes{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}



body{
	font-family: 'Alfa Slab One', serif;
	height: 100%;
	
	background-color: #4822bc;
 background-image: linear-gradient(0deg, #6284FF 0%,  #5737c4  60%, #4822bc 95% );

	


}
.cabecalhoPrincipal{
	
	background-color: #4822bc;
}


.cabecalhoPrincipal-titulo {
	
	font-weight: bold;
	font-size: 2em;
	color: #d5cdee;
	margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: #d5cdee;
}

.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: white;
	
	text-decoration: none;
	transition: .5s;
	display: block;

	
}
.cabecalhoPrincipal-nav-link-insc{
	border: 1px solid #3848f1;
	background-color: #3848f1;
	border-radius: 20px	;
}

main{
	margin-bottom: 5%;
}

.hero{
	margin-top: 5%;
	justify-content: space-around;
	text-align: center;
	display: flex;
	
}
.hero p{
	font-family: 'Alexandria', sans-serif;
}

.heroText{
	color: white;
	font-size: 35px;
	margin: auto;
	
}

.imgLogohero{
	width: 30%;
	margin: auto;
}


.subtitulo {
	font-family: 'Alexandria', sans-serif;
	font-weight: bold;
	font-size: 32px;
	margin-top: 5%;
	color: #d5cdee	;
	margin-bottom: 10px;
	text-align: center;
}



.imgOpcao{
	width: 50%;

}
.imgOpcao2{
	padding: 0;
	width: 65%;
}

.imgLogo{
	margin-top: 10px;
	width: 100px;
}

.item{
	border-radius: 20px;
	padding: 5%;
	text-align: center;
	width: 25%;
	background-color: #d5cdee	;
	border: 1px solid #d5cdee;
	transition: 100ms;
}

.item2{
	border-radius: 20px;
	padding: 5%;
	text-align: center;
	width: 25%;
	background-color: #d5cdee	;
	border: 1px solid #d5cdee;
	transition: 100ms;
}
.pzim{
	margin-top: 20%;
	font: bold;
	color: #3848f1;

	font-size: 30px;
}

.item:hover, .item2:hover{
	
	background-color: #4522bc;
}